/* ============================= */
/* CLIENT LOGO MARQUEE */
/* ============================= */

.logo-marquee-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.logo-track {
  display: flex;
  gap: 4rem;
  align-items: center;
  width: max-content;
  animation: scroll-x 20s linear infinite;
}

.logo-track img {
  width: 250px;
  height: auto;
  opacity: 0.7;
  transition: all 0.3s ease;
  flex-shrink: 0;
}

.logo-track img:hover {
  opacity: 1;
  transform: scale(1.05);
}

.logo-track img.active-middle {
  transform: scale(1.15);
  opacity: 1;
  filter: grayscale(0) invert(0) !important;
}

@keyframes scroll-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.section-contact{
  position: relative;
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 120px;
  --tw-text-opacity: 1;
  color: rgb(98 99 108 / var(--tw-text-opacity, 1));
}

.bg-primary{
  --tw-bg-opacity: 1;
  background-color: rgb(22 35 75 / var(--tw-bg-opacity, 1));
}